<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="mstyle.css">
</head>
<script>
      function updateTimer() {
        const now = new Date();
      const hours = now.getHours();
      const ampm = hours >= 12 ? 'PM' : 'AM';
      const displayHours = (hours % 12) || 12;
      const minutes = now.getMinutes().toString().padStart(2, '0');
      const seconds = now.getSeconds().toString().padStart(2, '0');
      const timeString = `${hours}:${minutes}:${seconds} ${ampm}` ;

      const year = now.getFullYear();
      const month = (now.getMonth() + 1).toString().padStart(2, '0');
      const day = now.getDate().toString().padStart(2, '0');
      const dateString = `${day}-${month}-${year}`;

      // Display the current time and date in the timer-container element
      document.getElementById('timer-container').innerText = `${dateString} ${timeString}`;

    }

    // Update the timer every second
    setInterval(updateTimer, 1000);

    // Initial update
    updateTimer();

</script>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid" id="title" data-bs-target="#tit">
      <a class="navbar-brand" id="hname" href="/"><b>SARAVANA HOSPITAL HUB</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#title" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navcontents" data-bs-target="#tit">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/doctor">Doctor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/outpatient">OutPatient</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/inpatient">InPatient</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/surgery">Surgery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/lab">Lab</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/medical">Medical</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/Gst">GST</a>
          </li>
     <!--    <li class="nav-item">
            <a class="nav-link"  href="/insurance">Insurance</a>
          </li>  --> 
          <span class="navbar-text" id="timer-container" style="color: white;padding-left: 450px;font-weight: bold;"></span>
        </ul>
      </div>
    </div>
  </nav>
  