<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OutPatient Form</title>
</head>
<body>
  <%- include('navbar') %>
    <div class="outpatientform">
        <center><h2><b><i>OutPatient Form</i></b></h2></center>
        <form action="/addOutPatient" method="POST">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input type="text" class="form-control" id="Name" placeholder="Patient Name" name="Name" required>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Age</label>
        <input type="number" class="form-control" id="Age" placeholder="Age" name="Age" required>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Guardian</label>
        <input type="text" class="form-control" id="Guardian" placeholder="Guardian Name" name="Guardian" required> 
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Reason</label>
        <input type="text" class="form-control" id="Guardian" placeholder="Reason" name="Reason" required>
      </div>
      <div class="dropdown">
        <label for="exampleFormControlInput1" class="form-label">Consultant</label>
        <select name="Consulted">
          <%for(const d of doctors){%>
          <option value="<%= d.doctorname %>"><%= d.doctorname %></option>
          <%}%>
        </select>
      </div>
      <label for="exampleFormControlTextarea1" class="form-label">Prescription</label>
      <div class="input-group mb-3" id="P">
        <input type="file" class="form-control" id="Prescription">
      </div>
      <label for="exampleFormControlTextarea1" class="form-label">Address</label>
  <textarea class="form-control" id="Address" rows="3" placeholder="Address" name="Address" required></textarea>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
    <input type="tel" class="form-control" id="Phone" placeholder="Phone Number" name="ph" required>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Date</label>
    <input type="date" class="form-control" id="Date" name="date" required>
    <label for="exampleFormControlInput1" class="form-label">Time</label>
    <input type="time" class="form-control" id="Time" name="Time" required>
  </div>
  <label>Patient Type : <b>OutPatient </b></label>
  <button class="btn btn-success" id="Submit">Submit</button>
  </form>
  <button type="button" class="btn btn-warning">Print</button>
</div>
<%- include('footer') %>
</body>
</html>