<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surgery Console</title>
    <link rel="icon" type="/images/favicon.icon" href="favicon/sicon.ico">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body>
  <%- include('navbar') %>
    <div class="doctor">
    <div class="card" style="width: 18rem;">
        <img src="imgs/bg.jpg" class="card-img-top" alt="...">
        <div class="card-body"><b>Surgery Record</b></h5>
          <p class="card-text">Details of Surgeries</p>
          <a href="/SurgeryRecord" class="btn btn-primary">View Record </a>
          <br><br>
          <a href="/SurgeonRecord" class="btn btn-primary">Surgeon Record</a>
          <br><br>
          <a href="/AddSurgeon" class="btn btn-primary">Add Surgeon</a>
          <br><br>
          <a href="/AddAnesthesist" class="btn btn-primary">Add Anesthesist</a>
          <br><br>
          <a href="/Anesthesist" class="btn btn-primary">Anesthesist Record</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="imgs/adminpropic.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Add Surgery</h5>
          <p class="card-text">New Surgery</p>
          <a href="/SurgeryForm" class="btn btn-primary">Schedule Surgery</a>
        </div>
      </div>
      </div>
      <%- include('footer') %>
</body>
</html>